@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --color-bg: #fff;
  --color-bg-dark: #002d62;     /* you can use this if needed */
  --color-accent: #e35205;
  --color-text: #002d62;

  /* add these */
  --color-border: #e5e7eb;
  --color-found:  #16a34a;
}

[data-theme='alt'] {
  --color-bg: #fff;
  --color-bg-dark: #2f241d;
  --color-accent: #ffc425;
  --color-text: #2f241d;

  /* themed variants */
  --color-border: #cabba8;
  --color-found:  #22c55e;
}

body {
  background-color: var(--color-bg);
  color: var(--color-text);
  transition: background-color .3s ease, color .3s ease;
}

/* Tailwind prose hook stays as you have it */
.prose {
  --tw-prose-body: var(--color-text);
  --tw-prose-headings: var(--color-accent);
  --tw-prose-links: var(--color-accent);
  --tw-prose-bullets: var(--color-accent);
  --tw-prose-quotes: var(--color-accent);
}
